<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Document</title>

        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='style.css') }}"
        />

        <!-- <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script> -->

        <!-- <img src="{{ url_for('static', filename='img.jpg') }}"> -->
    </head>
    <body>
        <h1>Playground</h1>
        <p>PhraseColor: {{ phraseColor }}</p>
        <!-- <p>TimesN: {{ timesN }}</p> -->
        <div id="items">
            {% for x in range(0,timesN): %}
            <div class="piece" style="background-color: {{phraseColor}}"
            ></div>
            {% endfor %}
        </div>
    </body>
</html>
